@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-rubik: "Rubik", sans-serif;
  --font-nunito-sans: "Nunito Sans", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-rubik: var(--font-rubik);
  --font-nunito-sans: var(--font-nunito-sans);
}

.font-rubik {
  font-family: var(--font-rubik);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito-sans), sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  @apply flex min-h-screen flex-col;

  footer {
    @apply mt-auto;
  }
}

.logo {
  @apply inline-flex items-center justify-center text-2xl font-bold text-gray-900;
}

@utility container {
  @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
}

/* Typography
------------------------------------------ */
.heading-h1 {
  @apply font-rubik text-[48px] leading-[120%] font-bold;
}

.heading-h2 {
  @apply font-rubik text-[36px] leading-[130%] font-semibold;
}
.heading-h3 {
  @apply font-rubik text-[24px] leading-[130%] font-medium;
}
.text-body {
  @apply font-nunito-sans text-[18px] leading-[150%] font-normal;
}
.text-micro {
  @apply font-nunito-sans text-[14px] leading-[150%] font-light;
}
.btn {
  @apply font-rubik text-[20px] leading-[150%] font-medium;
}
.input-text {
  @apply font-nunito-sans text-[16px] leading-[150%] font-normal;
}
.label-text {
  @apply font-nunito-sans text-[14px] leading-[150%] font-normal;
}

.section {
  @apply my-8;
}
